.fundadores-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas com larguras iguais */
  grid-gap: 20px; /* Espaçamento entre as colunas e linhas */
}

.fundador-item {
  text-align: center;
}

.fundador-item img {
  width: 100%;
  max-width: 200px; /* Definindo a largura máxima da imagem */
  height: auto;
}
.cabecalho-container {
  position: relative;
  width: 100%;
}

.imagem-fundo {
  width: 100%;
  height: auto;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Volkhov', serif; /* Aplicando a fonte Volkhov */
  font-size: 500%; /* Tamanho da fonte aumentado */
  color: white;
  text-align: center;
  text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black; /* Simulando borda preta com text-shadow */
}